.filter-status-multiple {
  display: flex;

  .trigger {
    display: flex;
    border: none;
    width: 80px;
    height: 100%;
    color: #333333;
    background-color: transparent;
    font-weight: normal;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;

    &:focus {
      outline: none;
    }

    .status {
      &:before {
        content: "";
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }

  .dropdown-multiple {
    margin-top: 22px;
    left: 40px;
    z-index: 60;
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: none;
    overflow: scroll;
    font-weight: normal;
    color: #ced4da;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 12px 38px 0 rgba(0, 0, 0, 0.12);;
    cursor: pointer;

    &.show {
      display: flex;
    }
    
    .dropdown-header {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 5px;
      width: 100%;
      display: flex;
      align-self: flex-start;
      color: #333333;
      font-family: 'Staatliches', sans-serif;
      font-size: 1rem;
      font-style: normal;
      height: 29px;
      align-items: center;
      background: #f4f6f9;
      border-bottom: 1px solid #eeeeee;
      cursor: default;
    }

    button {
      display: flex;
      position: relative;
      justify-content: left;
      width: 100%;
      height: 38px;
      border: none;
      border-bottom: 1px solid #eeeeee;
      padding: 12px 14px;
      font-size: 14px;
      color: #6a6a6a;
      background-color: #fff;
      text-decoration: none;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #0bc0ff;
        color: #ffffff;
      }
    }
    
    .btn-dropdown-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
    }

    .btn-dropdown {
      margin: 0 auto;
      margin-bottom: 10px;
      margin-right: 10px;
      padding: 0;
      width: 105px;
      height: 40px;
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      font-family: 'Staatliches', sans-serif;
      font-size: 1rem;
      font-weight: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
    }

    .btn-dropdown-clear {
      color: #0b0b0b;
      border: solid 1px rgba(0, 0, 0, 0.08);
      &:active,
      &:hover {
        background-color: #f8f8f8;
        color: #333333;
      }
    }

    .btn-dropdown-apply {
      background-color: #0bc0ff;
      color: #fff;
      &:active,
      &:hover {
        background-color: #333333;
      }
    }
  }
}
